body{font-family:Arial,Helvettica,sans-serif;background-image:url(/stone.jpeg);background-size:cover;}
a{font-size:1.5em;}
@viewport{zoom:1.0;width:extend-to-zoom;};
img.banner{display:block;margin-left:auto;margin-right:auto;padding:10px;border-radius:25px;opacity:0.7;}
img{margin-left:20px;margin-right:20px;max-width:90%;border-color:black;border-style:solid;border-width:2px;}
figcaption{font-size:.8em;margin-left:20px;}
p{margin-right:10px;}
h1{font-size:2.5em;color:maroon;margin:0px;padding:0px;text-align:center;}
h2{font-size:1.6em;color:blue;}
h3{font-size:1.2em;color:blue;}
h4{font-size:1em;color:blue;margin-left:0px;}
button.leftcol{max-width:80%;float:left;font-size:1em;padding:0px;margin-left:5px;opacity:0.7;padding-top:10px;padding-bottom:10px;}
button{min-width:100%;margin-bottom:10px;font-size:1.2em;background-color:blue;color:white;padding:10px;border-color:black;border-style:solid;border-width:2px;border-radius:6px;margin-left:auto;margin-right:auto;font-weight:bold;}
button:active{background-color:#DCDCDC;}
.mode{background-color:maroon;}
a{color:green;}
.container{border-color:black;border-style:solid;border-width:1px;}
.controldrive{width:20%;float:left;}
.urldetails{width:70%;float:left;}
.urlline{color:green;}
.searchtermline{color:blue;}
.panel{background-color:white;border-color:black;border-style:solid;border-width:4px;padding:5px;border-radius:15px;margin-bottom:10px;}
img.go_to{max-width:35%;float:left;margin:0px;margin-top:20px;}
section{width:90%;background-color:#DCDCDC;margin-right:auto;margin-left:auto;border-color:black;border-style:solid;border-width:4px;padding:20px;border-radius:8px;}
article{border-color:black;border-style:solid;border-width:4px;padding:5px;border-radius:8px;margin-bottom:10px;}
label{display:block;margin-top:20px;letter-spacing:2px;font-size:1.5em;}
input, textarea{display:block;height:35px;width:90%;background:#DCDCDC;color:black;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;font-size:1.5em;margin:10px;}
input:focus, textarea:focus{border-width:3px;border-style;solid;border-color:green;}
input.searchbox{font-size:.6em;}
textarea{height:113px;}
submit{background-color:green;margin-top:20px;}
*{box-sizing:border-box;}
.row:after{content:"";clear:both;display:block;}
[class*="col-"]{width:100%;float:left;padding:15px;}
html{font-family:"Lucida Sans", sans-serif;}
.header{color:#ffffff;padding:15px;text-align:center;}
.addclip{display:none;}
@media only screen and (min-width:700px){
.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
}
